.colorOrange{
    background-color: #FF9F00;
    ;
}

/* style landing */

.containerLanding{
    background-image: url("../media/background.jpg");
    height: 96vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.landingNav{
    display: flex;
    height: 9vh;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    background-color: white;
}

.landingNav .logo{
    flex: 50%;
    margin-left: 80px;
}

.landingNav .button{
    flex: 50%;
    display: flex;
    justify-content: end;
    margin-right: 80px;
}

.landing{
    height: 91vh;
    display: flex;
    /* background-color: blueviolet; */
}

.landingLeft{
    flex: 50%;
    /* background-color: aqua; */
    display: flex;
    padding: 0 120px;
    flex-direction: column;
    justify-content: center;
}

.landingRight{
    flex: 50%;
    /* background-color: blue; */
}

.sectionPedding{
    padding: 0 100px;
}